            @media (min-width: 767px) and (max-width: 1024px) {

            #da9f0c0d {
                min-height: 242px;
                flex-direction: row;
                flex-wrap: nowrap;
            }

            #\35 d5cb6f5 {
                width: 100%;
                min-height: 8px;
                column-gap: 0%;
            }
            }

        

            @media (min-width: 1400px) {

            #da9f0c0d {
                flex-direction: row;
                flex-wrap: nowrap;
                min-height: 222px;
            }

            #\35 d5cb6f5 {
                width: 100%;
                min-height: 8px;
                flex-direction: row;
            }

            #widget_f7b {
                margin: 0px 0% 0px 0%;
            }

            #widget_k79 {
                width: auto;
                height: auto;
            }
            }

        
