            @media (max-width: 767px) {

            #\33 6002633 {
                flex-direction: column;
                padding-left: 4%;
                min-height: unset;
                padding-right: 4%;
            }

            #ee1db952 {
                width: 100%;
                min-height: 750px;
                align-items: center;
            }

            #ec8c5c97 {
                justify-self: auto;
                align-self: auto;
                width: 99.99483980120546%;
                order: 0;
                margin: 0px 0% 0px 0%;
                grid-area: auto / auto / auto / auto;
            }
            }

        
