            @media (max-width: 767px) {

            #\36 c1bca97 {
                width: 100%;
                min-height: 700px;
                align-items: center;
                padding: 0px 0px 0px 0px;
            }

            #f6a05192 {
                flex-direction: column;
                padding-left: 4%;
                min-height: unset;
                padding-right: 4%;
            }

            #widget_6un.flex-element.widget-wrapper > [data-element-type] {
                padding-left: 0px;
            }
            #widget_6un {
                align-self: center;
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 20px;
            }
            }

        
