            @media (max-width: 766px) {

            #\36 4219dd7374cf06c63f9d00c {
                grid-column-start: 1;
                grid-row-end: span 1;
                grid-column-end: span 1;
                grid-row-start: 1;
            }

            #\36 4219dd7374cf06c63f9d00b {
                grid-template-rows: minmax(8px, max-content);
            }
            }

        

            @media (max-width: 767px) {

            #\36 4219dd7374cf06c63f9d00d {
                width: 100%;
                min-height: 750px;
                align-items: center;
            }

            #\36 4219dd7374cf06c63f9d00c {
                flex-direction: column;
                padding-left: 4%;
                min-height: unset;
                padding-right: 4%;
            }

            #widget_s3k {
                height: auto;
            }
            }

        
