            @media (min-width: 767px) and (max-width: 1024px) {

            #\34 bf22f39 {
                margin-bottom: 0px;
                width: 28.55910878112713%;
            }

            #\35 48a0ef6 {
                width: 38.23%;
            }

            #\37 8595aeb {
                width: 83.27%;
            }

            #\36 d6a3a20 {
                width: 100%;
                align-items: center;
                margin-bottom: 10px;
            }

            #\32 2ba8dd2 {
                width: 28.507994757536043%;
            }

            #a7438019 {
                height: auto;
                width: auto;
            }

            #\32 38d8203 {
                align-self: center;
                margin-left: 0px;
                margin-right: 0px;
                width: 300px;
            }

            #\33 096c20f {
                grid-template-rows: minmax(48px, max-content);
            }

            #\31 ff19f78 {
                flex-wrap: wrap;
            }

            #e2edb131 {
                grid-template-rows: minmax(242px, max-content);
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            #\31 fb0aa12 {
                width: 25px;
                margin-left: -2px;
                margin-right: 7px;
            }
            }

        

            @media (min-width: 1400px) {

            #fd2da137 {
                margin-bottom: 0px;
            }

            #d29a863e {
                margin-bottom: 15px;
                width: 100%;
                order: 1;
            }

            #\37 8595aeb {
                width: 97.25%;
            }

            #\36 d6a3a20 {
                width: 24%;
                align-self: center;
                margin-bottom: 0px;
                margin-top: 0px;
            }

            #\32 2ba8dd2 {
                margin-top: 0px;
                width: 18.08%;
            }

            #\34 bf22f39 {
                width: 19%;
            }

            #\35 48a0ef6 {
                width: 29%;
            }

            #a942cf94 {
                width: 100%;
                padding-left: 0px;
                padding-bottom: 14px;
                padding-right: 0px;
            }

            #\34 ae27403 {
                width: auto;
            }

            #a7438019 {
                height: auto;
                width: auto;
            }

            #bbbe706a {
                justify-self: auto;
                align-self: auto;
                width: 100%;
                order: 2;
                margin: 0px 0% 0px 0%;
                grid-area: auto / auto / auto / auto;
            }

            #\31 ff19f78 {
                padding-right: 0px;
                padding-bottom: 20px;
                padding-left: 0px;
                width: 100%;
                margin-bottom: 0px;
            }
            }

        

            @media (max-width: 766px) {

            #a942cf94 {
                grid-area: 1 / 1 / span 1 / span 1;
            }

            #\33 096c20f {
                grid-template-rows: minmax(48px, max-content);
            }

            #\31 ff19f78 {
                grid-area: 1 / 1 / span 1 / span 1;
            }

            #e2edb131 {
                grid-template-rows: minmax(145px, max-content);
            }
            }

        

            @media (max-width: 767px) {

            #\39 5ac5db6 {
                align-self: center;
                margin-left: 0px;
                margin-right: 0px;
            }

            #d29a863e {
                margin-left: 0px;
                margin-right: 0px;
                justify-content: center;
                order: 1;
                width: 216px;
                align-items: flex-start;
            }

            #\37 8595aeb {
                width: auto;
                justify-self: center;
                margin-left: 0px;
                margin-right: 0px;
            }

            #\33 4395e7e {
                margin-left: 0px;
                margin-right: 0px;
            }

            #\31 fb0aa12 {
                justify-self: center;
                margin-left: 0px;
                margin-right: 10px;
                width: 22px;
                margin-top: 1px;
            }

            #\33 efec40d {
                width: 100%;
                margin-bottom: 14px;
            }

            #\39 4ca57e2 {
                width: 100%;
                justify-content: center;
            }

            #\34 bf22f39 {
                width: 62.4%;
                align-items: flex-start;
                order: 2;
                justify-self: auto;
                align-self: center;
                margin: 20px 0% 17px 0%;
                grid-area: auto / auto / auto / auto;
            }

            #\35 48a0ef6 {
                width: 62.40%;
                align-items: flex-start;
                align-self: center;
                order: 1;
                margin: 20px 0% 0px 0%;
            }

            #\34 ae27403 {
                justify-self: center;
                margin-left: 0px;
                margin-right: 0px;
                width: auto;
            }

            #\37 58d2e8d {
                justify-self: center;
                margin-left: 0px;
                margin-right: 0px;
            }

            #a1f92508 {
                justify-self: center;
                margin-left: 0px;
                margin-right: 10px;
                width: 18px;
                height: 18px;
            }

            #fd2da137 {
                margin-left: 0px;
                margin-right: 0px;
                justify-content: flex-start;
                margin-bottom: 2px;
            }

            #\32 2ba8dd2 {
                width: 100%;
                align-items: center;
                order: 3;
            }

            #\36 d6a3a20 {
                width: 100%;
                order: 0;
            }

            #\32 38d8203 {
                height: 85px;
                align-self: center;
                margin-left: 0%;
                margin-right: 0%;
                width: 183px;
            }

            #c4956343 {
                margin-left: 0px;
                margin-right: 0px;
            }

            #\33 096c20f {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                display: grid;
                justify-content: start;
                align-items: start;
                position: relative;
                grid-template-columns: minmax(0px, 1fr);
                grid-template-rows: minmax(55px, max-content);
                padding: 15px 15px 15px 15px;
            }

            #e2edb131 {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                display: grid;
                justify-content: start;
                align-items: start;
                position: relative;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                grid-template-rows: minmax(312px, max-content);
                padding: 15px 15px 15px 15px;
            }

            #ec4b2bc0 {
                align-self: center;
                margin-left: 0px;
                margin-right: 0px;
                height: 44px;
                width: 160px;
            }

            #a942cf94 {
                flex-direction: column;
                justify-self: start;
                align-self: start;
                width: 100.00%;
                min-height: 63.64%;
                justify-content: flex-start;
                height: auto;
                padding: 0px 0px 0px 0px;
                margin: 0px 0% 0px 0%;
                grid-area: 1 / 1 / span 1 / span 1;
            }

            #a7438019 {
                height: 30px;
                width: 288px;
            }

            #bbbe706a {
                justify-content: center;
                width: auto;
                justify-self: auto;
                order: 2;
                margin: 0px 0% 0px 0%;
                grid-area: auto / auto / auto / auto;
            }

            #\31 ff19f78 {
                flex-direction: column;
                padding: 0px 0px 0px 0px;
            }
            }

        

            @media (min-width: 468px) and (max-width: 767px) {

            #\35 48a0ef6 {
                justify-self: auto;
                align-self: center;
                width: 34.90%;
                order: 2;
                margin: 0px 0% 0px 0%;
                grid-area: auto / auto / auto / auto;
            }

            #\34 bf22f39 {
                order: 1;
                width: 29.998662704309066%;
                align-items: flex-start;
                margin: 0px 0% 0px 0%;
            }

            #\37 8595aeb {
                width: auto;
            }

            #\36 d6a3a20 {
                order: 0;
                width: 100%;
                margin: 0px 0% 10px 0%;
            }

            #\32 2ba8dd2 {
                order: 3;
                width: 29.998662704309066%;
                margin: 0px 0% 0px 0%;
            }

            #a7438019 {
                height: 14px;
                width: auto;
                justify-self: center;
                margin-left: 0px;
                margin-right: 0px;
            }

            #\33 efec40d {
                justify-content: center;
                margin-bottom: 12px;
            }

            #\37 58d2e8d {
                height: 17px;
            }

            #\39 f1e9ba2 {
                justify-self: center;
                margin-left: 0px;
                margin-right: 10px;
                height: 23px;
            }

            #\33 096c20f {
                grid-template-columns: repeat(1, minmax(0px, 1fr));
                grid-template-rows: minmax(28px, max-content);
            }

            #e2edb131 {
                grid-template-rows: minmax(181px, max-content);
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            #\31 ff19f78 {
                flex-direction: row;
                flex-wrap: wrap;
            }

            #d29a863e {
                justify-content: flex-start;
                align-items: flex-start;
            }

            #\31 fb0aa12 {
                width: 21px;
                margin-top: 2px;
            }

            #fd2da137 {
                justify-content: flex-start;
            }

            #a1f92508 {
                width: 18px;
                height: 18px;
            }
            }

        
