            @media (min-width: 767px) and (max-width: 1024px) {

            #\37 d97dba4 {
                min-height: 1500px;
            }

            #\32 05d61f8 {
                align-self: stretch;
                grid-column-start: auto;
                grid-row-start: auto;
                margin-right: 0%;
                margin-left: 0%;
                max-width: 100%;
                grid-row-end: auto;
                width: 100%;
                margin-top: 0px;
                grid-column-end: auto;
                justify-self: auto;
                margin-bottom: 0px;
                order: 0;
                height: auto;
            }
            }

        

            @media (min-width: 1400px) {

            #\32 05d61f8 {
                align-self: stretch;
                grid-column-start: auto;
                grid-row-start: auto;
                margin-right: 0%;
                margin-left: 0%;
                max-width: 100%;
                grid-row-end: auto;
                width: 100%;
                margin-top: 0px;
                grid-column-end: auto;
                justify-self: auto;
                margin-bottom: 0px;
                order: 0;
                height: auto;
            }
            }

        

            @media (max-width: 766px) {

            #\37 d97dba4 {
                grid-column-start: 1;
                grid-row-end: span 1;
                grid-column-end: span 1;
                grid-row-start: 1;
            }

            #ff1672dc {
                grid-template-rows: minmax(8px, max-content);
            }
            }

        

            @media (max-width: 767px) {

            #\37 d97dba4 {
                flex-direction: column;
                padding-left: 4%;
                min-height: unset;
                padding-right: 4%;
            }

            #\30 ebeaaae {
                width: 100%;
                min-height: 2000px;
                align-items: center;
            }

            #\32 05d61f8 {
                height: auto;
            }
            }

        
