            @media (min-width: 767px) and (max-width: 1024px) {

            #\38 817c274 {
                min-height: 620px;
            }

            #e3dd22a5 {
                align-self: auto;
                grid-column-start: auto;
                grid-row-start: auto;
                margin-right: 0%;
                margin-left: 0%;
                grid-row-end: auto;
                width: 100%;
                margin-top: 0px;
                grid-column-end: auto;
                justify-self: auto;
                margin-bottom: 0px;
                order: 0;
                height: 2823.31px;
            }
            }

        
