            @media (max-width: 767px) {

            #\31 47bf939 {
                width: 100%;
                min-height: 750px;
                align-items: center;
            }

            #\39 2245fd7 {
                flex-direction: column;
                padding-left: 4%;
                min-height: unset;
                padding-right: 4%;
            }
            }

        
